#datasource
spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://fame-mysql:3306/fame?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&autoReconnect=true&failOverReadOnly=false&maxReconnects=10
    username: root
    password: MYSQLPASSWD@1234!
  #    schema: classpath:db/mysql/schema/*.sql
  #    第三方连接池需要设置为 always
  #    initialization-mode: always
  jpa:
    hibernate:
          ddl-auto: update
    show-sql: true

#log
logging:
  level:
    root: INFO
    com:
      zbw: DEBUG
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl